<% video_url = 'https://nico.ms/' + video[:contentId] %>
<div class='video-row'>
  <div class='video-image'>
    <a href='<%= video_url %>' target='__blank'>
      <img src="<%= video[:thumbnailUrl] %>"/>
    </a>
  </div>
  <div class='video-infomations-wrapper'>
    <div class='video-title'>
      <%= link_to video[:title], video_url, { target: '__blank'} %>
    </div>
    <div class='video-counters'>
      <i class="las la-play"></i> <%= video[:viewCounter] %>
      <i class="las la-comment"></i> <%= video[:commentCounter] %>
      <i class="las la-heart"></i> <%= video[:likeCounter]%>
    </div>
    <div class='video-posted-at'><%= DateTime.parse(video[:startTime]).strftime('%Y/%m/%d %H:%M')  %></div>
    <div class='video-tags'><%= video[:tags] %></div>
  </div>
</div>
